// Import Vuetify styling
@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat|Archivo')
@require '~vuetify/src/stylus/app.styl'

@font-face
  font-family Nevis
  src url('~assets/fonts/nevis.ttf')
  font-weight bold

html, body
  font-family: 'Monserrat', sans-serif !important
  font-size: 12pt

.display-3
  font-family: 'Archivo', sans-serif !important

.respLine
  display inline

.hero
  position relative
  height 100vh

.hackers-heading
  font-family: 'Nevis', fantasy

.patros
  position relative

.horario
  display block
  margin auto

.navbar
  background #062933 !important

@media only screen and (max-width: 600px) // Movil
  .hero
    height 100vh
  .hackers-heading
    font-size 3em
  .hackers-description
    font-size 1.5em
  .respLine
    display block
  .navItem
    font-size 1.1em
  .pa1
    top 0.5em
    width 10em
  .pa2
    top 0
    width 4em
  .horario
    width 100%

@media only screen and (min-width: 600px) and (max-width: 1264px) // Medio
  .hackers-heading
    font-size: 4.5em
  .hackers-description
    font-size: 2em
  .navItem
    font-size: 1em
  .pa1
    top 1em
    width 9em
  .pa2
    top 1em
    width 7em
  .horario
    width 100%

@media only screen and (min-width: 1264px) // Escritorio
  .hero
    top 0
  .hackers-heading
    font-size: 7em
  .hackers-description
    font-size: 3.5em
  .navItem
    font-size: 1em
  .pa1
    width 25em
    top 5em
  .pa2
    width 15em
    top 8em
  .horario
    width 65%

.hackers-arrows
  color: #2196ba

.heading-text
  background: #00000099
  width: 100vw
