// Import Vuetify styling
@require '~vuetify/src/stylus/app.styl'

@font-face
  font-family: Nevis
  src: url('~assets/fonts/nevis.ttf')
  font-weight: bold

.hackers-heading
  font-family: 'Nevis', fantasy
  font-size: 6.989em

.hackers-mobile-heading
  font-family: 'Nevis', fantasy
  font-size: 5em

.hackers-description
  font-size: 3.494em

.hackers-arrows
  color: #2196ba

.hero
  height: 100%
  width: 100%
  position: fixed

.heading-text
  background: #00000099
