@font-face
  font-family: Nevis
  src: url('~assets/nevis.ttf')
  font-weight: bold

.hackers-heading
  font-family: 'Nevis', fantasy
  font-size: 6.989em

.hackers-description
  font-size: 3.494em

.hackers-arrows
  color: #2196ba

.hero
  height: 100%

.heading-text
  background: #00000099
  width 100%
